<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/randomizer.js'></script>
    <script type="text/javascript">
      var songData = <%- JSON.stringify(songData) %>;
    </script>
    <script>
      (function(d) {
        var config = {
          kitId: 'dpi8hzc',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <script>
      window.onload = function() {
        var lowerSelect = document.getElementById('lower');
        var upperSelect = document.getElementById('upper');
        for (var i = 1; i < 20; i++) {
          lowerSelect.options[i] = new Option(i, i);
          upperSelect.options[i] = new Option(i, i);
      }
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <input id='count'> songs from level <select id='lower'></select> to <select id='upper'></select>:
    <button onclick='randomize(songData)'>Randomize</button>
    <br>
    <br>
  </body>
</html>
