@font-face {
  font-family: EnterSansman;
  src: local("Enter Sansman"), url(/fonts/entsans.ttf);
}

body {
  padding: 50px;
  font: 32px "EnterSansman", "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/poster_bg.png');
  background-size: cover;
}

h3 {
  font: 12px;
}

select {
  font: 32px "EnterSansman";
  text-align: center;
}

input {
  width: 50px;
  font: 32px "EnterSansman";
  text-align: center;
}

button {
  font: 32px "EnterSansman";
}

p {
  font: 32px "kozuka-gothic-pro", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

img {
  opacity: 0.5;
}

a {
  color: #00B7FF;
}
